.messageBox {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: inline-block;
    clear: both;
    font-size: 14px;
    max-width: 60%;
    word-wrap: break-word;
}

.right {
    float: right;
    background-color: #007bff;
    color: white;
    text-align: right;
}

.left {
    float: left;
    background-color: #e1e1e1;
    color: black;
    text-align: left;
}